# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
env/

# Ignore IDE-specific files (VS Code, PyCharm, etc.)
.vscode/
.idea/

# Ignore environment variables file
.env

# Ignore log files
*.log
